
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

p::before {
  content: 'Hallo';
  background: red;
  display: block;
  margin-right: 40px;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
}

p::after {
  content: 'goodbye';
  background: red;
  display: block;
  margin-right: 40px;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
}

